:root {
  --color-wite: #ffffff;
  --color-text: #2e2f42;
  --color-list: #434455;
  --color-border: #e7e9fc;
  --color-logo-but: #4d5ae5;
  --color-hov-foc: #404bbf;
  --color-hov-foc-f: #31d0aa;
  --color-section: #f4f4fd;
  --color-border-icon: #8e8f99;
  --color-bgn-modal: #fcfcfc;
  --color-modal: rgba(46, 47, 66, 0.4);
}

/* Base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-wite);
  color: var(--color-list);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  text-transform: capitalize;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
/* END Base */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding: 120px 0;
}
.header {
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}
.header-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.content-logo {
  color: var(--color-logo-but);
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
}
.header-meny {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-grow: 1;
  /* position: absolute; */
}
.header-meny-list {
  display: flex;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-meny-list:hover {
  color: var(--color-hov-foc);
}
.header-meny-list:focus {
  color: var(--color-hov-foc);
}
.first-header-link {
  color: var(--color-hov-foc);
  position: relative;
}
.first-header-link::after {
  display: block;
  position: absolute;
  content: '';
  width: 48px;
  height: 4px;
  background-color: var(--color-hov-foc);
  transform: rotate(180deg);
  left: 0;
  bottom: -1px;
  width: 100%;
  border-radius: 2px;
}
.content-studio {
  color: var(--color-text);
  font-family: 'Raleway', sans-serif;
}

.adress {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adress-nav {
  display: flex;
  gap: 40px;
  justify-items: flex-end;
}
.adress-info {
  color: var(--color-list);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-info:hover {
  color: var(--color-hov-foc);
}
.adress-info:focus {
  color: var(--color-hov-foc);
}
/* End block base */

/* Hero section-1 */

.hero-logo {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: var(--color-text);
  color: var(--color-wite);
  text-align: center;
  text-transform: capitalize;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-slogan {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
}

/* button */
.button-primery {
  display: block;
  margin: auto;
  color: var(--color-wite);
  background-color: var(--color-logo-but);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  padding: 16px 32px;
  border-radius: 4px;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primery:hover {
  background-color: var(--color-hov-foc);
}
.button-primery:focus {
  background-color: var(--color-hov-foc);
}
/* end button */

/* deteils section-2 */
.adventege-section {
  background-color: var(--color-wite);
  padding: 120px 0;
}
.adventege-list {
  display: flex;
  gap: 24px;
}
.adventege-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.adventege-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid var(--color-border-icon);
  border-radius: 4px;
  background-color: var(--color-section);
  margin-bottom: 8px;
}
.icon-list {
  width: 64px;
  height: 64px;
}
.category {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.text-category {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-list);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* our team section-3*/

.team-section {
  background-color: var(--color-section);
  color: var(--color-text);
  padding: 120px 0;
}

.team-titel {
  text-align: center;
  color: var(--color-text);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-inner {
  display: flex;
  gap: 24px;
  margin: 0;
}

.team-frame {
  background-color: var(--color-wite);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding: 32px 0;
}
.team-name-list {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
}
.team-position {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  line-height: 1.5;
  color: var(--color-list);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.icon-social {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.icon-social-item {
  width: 40px;
  height: 40px;
}

.icon-social-list {
  display: flex;
  gap: 36px;
  fill: var(--color-section);
  width: 100%;
  height: 100%;
  padding: 12px;
  background-color: var(--color-logo-but);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-list:hover {
  background-color: var(--color-hov-foc);
}
.icon-social-list:focus {
  background-color: var(--color-hov-foc);
}
/* portfolio section-4 */
.portfolio-section {
  padding: 120px 0 120px 0;
}
.portfolio-titel {
  text-align: center;
  color: var(--color-text);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0 auto;
  padding: 0 auto;
}
.portfolio-frame {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-frame:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list {
  padding: 32px 16px;
  border: 1px solid var(--color-border);
  border-top: none;
}
.portfolio-offers {
  color: var(--color-text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--color-list);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-product {
  position: relative;
  overflow: hidden;
}

.portfolio-frame:hover .overlay-text {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-text {
  padding: 40px 32px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  position: absolute;
  background-color: var(--color-logo-but);
  color: var(--color-section);
  inset: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */

.foot-section {
  display: block;
  gap: 120px;
  background-color: var(--color-text);
  color: var(--color-section);
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding-top: 100px;
}
.foot-inner {
  margin-right: 120px;
}
.foot-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  color: var(--color-logo-but);
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.foot-studio {
  color: var(--color-section);
}
.foot-text {
  max-width: 264px;
  color: var(--color-section);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 100px;
}
.footer-social-p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 16px;
  margin-top: 0;
  color: var(--color-wite);
}
.footer-social {
  margin-right: 96px;
}
.footer-social-nav {
  display: flex;
  gap: 16px;
}
.footer-social-list {
  width: 40px;
  height: 40px;
}

.footer-social-item {
  display: flex;
  gap: 24px;
  fill: var(--color-section);
  width: 100%;
  height: 100%;
  padding: 8px;
  margin-bottom: 132px;
  background-color: var(--color-logo-but);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item:hover {
  background-color: var(--color-hov-foc-f);
}
.footer-social-item:focus {
  background-color: var(--color-hov-foc-f);
}
.foot-p {
  display: flex;
  align-items: baseline;
}
/* modal widow */
.backdrop {
  background-color: var(--color-modal);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  width: 408px;
  min-height: 584px;
  background-color: var(--color-bgn-modal);
  border-radius: 4px;
  overflow-y: auto;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  position: absolute;
  fill: var(--color-text);
  display: flex;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  margin-bottom: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border-color: var(--color-bgn-modal);
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-hov-foc);
  border: none;
  fill: var(--color-wite);
}
.modal-close {
  /* fill: var(--color-section); */
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: var(--color-wite);
}
.modal-close:focus {
  fill: var(--color-wite);
}

.modal-text {
  color: var(--color-text);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}
.modal-comment {
  margin-bottom: 16px;
}
.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--color-logo-but);
}
.modal-label {
  display: block;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 1.16;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-border-icon);
}

.modal-input-svg {
  padding-left: 38px;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--color-logo-but);
}
.modal-input:focus,
.modal-texterea:focus {
  outline: none;
  border-color: var(--color-logo-but);
}
.modal-textarea {
  outline: transparent;
  background-color: transparent;
  min-height: 120px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-modal);
  border: 1px solid var(--color-modal);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: var(--color-logo-but);
}
.modal-textarea::placeholder {
  color: var(--color-modal);
}

.modal-checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.modal-checkbox-input {
  display: none;
}
.modal-checkbox-label {
  line-height: 1.17;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--color-border-icon);
}
.modal-checkbox-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-modal);
  border-radius: 2px;
  background-color: var(--color-bgn-modal);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-icon {
  opacity: 0;
}
.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  border: none;
  background-color: var(--color-hov-foc);
  fill: var(--color-section);
  padding: 4px 3px;
}
.modal-checkbox-input:checked
  + .modal-checkbox-label
  .modal-checkbox-check
  .modal-checkbox-icon {
  opacity: 1;
}

.privacy-policy {
  color: var(--color-logo-but);
  text-decoration: underline;
}
.modal-btsub {
  font-family: 'Roboto' serif;
  display: block;
  margin: auto;
  color: var(--color-wite);
  background-color: var(--color-logo-but);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btsub:hover,
.modal-btsub:focus {
  background-color: var(--color-hov-foc);
}
/* footer modal */
.form-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--color-wite);
  background-color: transparent;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: var(--color-wite);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: var(--color-wite);
}
.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
}
.modal-button:hover {
  background-color: var(--color-hov-foc);
}
.button-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-wite);
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--color-logo-but);
}
.modal-teleg {
  margin-left: 16px;
}
